{
  "name": "{{ item.name }}",
  "online": {{ item.online | bool | lower}},
  "storage": {
    "blobStoreName": "{{ item.blob_store }}",
    "strictContentTypeValidation": {{ item.strict_content_type_validation | bool | lower }}
  },
  "group": {
    "memberNames": [
      {% for repo in item.group %}
      "{{ repo }}"{% if not loop.last %},{% endif %}
      {% endfor %}
    ]
  },
  "docker": {
    "v1Enabled": {{ item.v1_enabled | bool | lower }},
    "forceBasicAuth": {{ item.force_basic_auth | bool | lower }}
  }
}
