{% set http_client = {
  "blocked": item.http_client.blocked | default(false, true),
  "autoBlock": item.http_client.auto_block | default(true, true)
} %}
{% if item.http_client.connection is defined %}
{% set trust_store = item.http_client.connection.user_trust_store | default(false, true) %}
{% if item.http_client.connection.use_trust_store is defined %}
{% set trust_store = item.http_client.connection.use_trust_store %}
{% endif %}
{% set http_client = http_client | combine({
  "connection": {
    "retries": item.http_client.connection.retries,
    "userAgentSuffix": item.http_client.connection.user_agent_suffix,
    "timeout": item.http_client.connection.timeout,
    "enableCircularRedirects": item.http_client.connection.enable_circular_redirects,
    "enableCookies": item.http_client.connection.enable_cookies,
    "useTrustStore": trust_store
  }
}) %}
{% endif %}
{% if item.http_client.authentication is defined %}
{% set http_client = http_client | combine({
  "authentication": {
    "type": item.http_client.authentication.type,
    "username": item.http_client.authentication.username,
    "password": item.http_client.authentication.password,
    "ntlmHost": item.http_client.authentication.ntlm_host,
    "ntlmDomain": item.http_client.authentication.ntlm_domain
  }
}) %}
{% endif %}

{% set payload = {
  "name": item.name,
  "online": item.online,
  "storage": {
    "blobStoreName": item.blob_store,
    "strictContentTypeValidation": item.strict_content_type_validation
  },
  "proxy": {
    "remoteUrl": item.remote_url,
    "contentMaxAge": item.maximum_artifacts_age,
    "metadataMaxAge": item.maximum_metadata_age
  },
  "negativeCache": {
    "enabled": item.negative_cache,
    "timeToLive": item.not_found_cache_ttl
  },
  "httpClient": http_client
} %}
{% if item.cleanup_names is defined %}
{% set payload = payload | combine({
  "cleanup": {
    "policyNames": item.cleanup_names
  }
}) %}
{% endif %}
{% if item.routing_rule is defined %}
{% set payload = payload | combine({"routingRule": item.routing_rule}) %}
{% endif %}

{{ payload | to_nice_json }}
